<h1 style="text-align: center;">page en construction</h1>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div id="vbar">

    <p id="text">Liste des recruteurs</p> 
    <img class="images" id="img" src="../../../../assets/images/Illustration_1.jpg" width="300px" height="130px"> 
</div>

<form id="ajouter-recruteur" action="/ma-page-de-traitement" method="post">
    <div>
        <label id="label">Prenom :</label> &nbsp;
        <input type="text" id="input" name="user_prenom">
    
        <label id="label">Nom :</label> &nbsp;
        <input type="text" id="input" name="user_nom">
   
        <label id="label">e-mail&nbsp;:</label> &nbsp;
        <input type="email" id="input" name="user_mail">
   
        <label id="label">Mot de passe&nbsp;:</label> &nbsp;
        <input type="password" id="input" name="user_password"> <br><br>
    <button id="favorite-styled" type="button"> Ajouter Recruteur </button>
</div>
<input id="search"placeholder="Rechercher recruteur par nom..." name="search"> &nbsp;
<button id="submit-search"><i class="fa fa-search"></i></button>
</form>
 
  <table class="table" id="liste-recruteur">
    <thead class="thead-dark" id="head-tab">
      <tr>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Mot de passe</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>Hajar</td>
        <td>El ouatiki</td>
        <td>hajar@gmail.com</td>
        <td>***************</td>
        <td>
          <a class="btn btn-default" href="#" role="button">
            <img class="images" id="delete" src="../../../../assets/images/Edit.png" width="25px" height="25px"> 
          </a>&nbsp;&nbsp;
          <a class="btn btn-default" href="#" role="button">
            <img class="images" id="delete" src="../../../../assets/images/Delete.png" width="25px" height="25px"> 
          </a>
        </td>
      </tr>
      <tr>

        
        <td>Dounia</td>
        <td>Jalal</td>
        <td>dounia@gmail.com</td>
        <td>***************</td>
        <td>
          <a class="btn btn-default" href="#" role="button">
            <img class="images" id="delete" src="../../../../assets/images/Edit.png" width="25px" height="25px"> 
          </a>&nbsp;&nbsp;
          <a class="btn btn-default" href="#" role="button">
            <img class="images" id="delete" src="../../../../assets/images/Delete.png" width="25px" height="25px"> 
          </a>
        </td>
      </tr>
      <tr>
        <td>Mohamed</td>
        <td>Salhaoui</td>
        <td>mohamed@gmail.com</td>
        <td>***************</td>
        <td>
          <a class="btn btn-default" href="#" role="button">
            <img class="images" id="delete" src="../../../../assets/images/Edit.png" width="25px" height="25px"> 
          </a>&nbsp;&nbsp;
          <a class="btn btn-default" href="#" role="button">
            <img class="images" id="delete" src="../../../../assets/images/Delete.png" width="25px" height="25px"> 
          </a>
        </td>
      </tr>

    </tbody>
  </table>
  <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>
    <ul class="menu__box">
      <li><a class="menu__item" href="#"><img class="images" src="../../../../assets/images/Accueil.png">&nbsp;&nbsp; Accueil</a></li>
      <li><a class="menu__item" href="#"><img class="images" src="../../../../assets/images/Template.png"
        width="25px" height="25px">&nbsp;&nbsp;Template Test</a></li>
      <li><a class="menu__item" href="#">
          <img class="images" src="../../../../assets/images/Tech.png" width="30px" height="30px">&nbsp; &nbsp;Technologies</a></li>
      <li><a class="menu__item" href="#">
        <img class="images" src="../../../../assets/images/Quests.png" width="30px" height="30px">&nbsp;&nbsp;Questions</a></li>
      <li><a class="menu__item" href="#">
        <img class="images" src="../../../../assets/images/Use.png" width="25px" height="25px">&nbsp;&nbsp;Recruteurs</a></li>
      <li><a class="menu__item" href="#"><img class="images" src="../../../../assets/images/Use.png" width="25px" height="25px">&nbsp;&nbsp;Ptls</a></li><br><br><br><br><br><br><br>
      <li><a class="menu__item" href="#">
        <img class="images" src="../../../../assets/images/Out.png" width="25px" height="25px">&nbsp;&nbsp;Se deconnecter</a></li>
    </ul>
  </div> 
   
  -->