<div id="container" class="container col-md-8">
    <br><br>
    
    
    <div class="row col-md-10">
        
        <div id="first-form" class="col-md-6">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                <label>Titre</label>
                <input type="search" class="form-control mb-2 mr-sm-2">
            </div>
            </div>
            <div class="col-md-10 mb-3">
                <div class="form-group">
                        <label>Question </label>
                        <input type="text" class="form-control">
                </div>
            </div>
            
            <div class="col-md-10 mb-3">
                <div class="form-group">
                        <label>Remarque </label>
                        <input type="text" class="form-control">
                        <small id="emailHelp" class="form-text text-muted">*facultatif</small>
                </div>
            </div>  
            
            <div class="col-md-10 mb-3">
                <div class="form-group">
                        <label>Duree </label>
                        <input type="text" class="form-control">
                </div>
            </div>
    
        </div>
        <div class="col-md-6 mb-3">
            <div class="row row-radio">
                    <label>Type</label>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">QCM</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Reponse text</label>
                    </div>
            </div>
            <div class="row row-list col-md-6" >
                <select class="custom-select custom-select-lg mb-3" style="padding: 5px;">
                    <option selected>Score </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

            </div>
            <div class="row row-radio-2">
                
                <label for="">Grade</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioo3" name="customRadioo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioo3">A1</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioo4" name="customRadioo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioo4">A2</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioo5" name="customRadioo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioo5">B1</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioo6" name="customRadioo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioo6">B2</label>
                </div>
            
            </div>
        </div>
    
    </div>
    <button class="btn btn-primary" style="float: right;">Suivant</button>
   
    
</div>