.form-control{
    border: 1px solid ;
    border-color: #0070AD;
    margin-top: 5px;
}
.row{
    margin-bottom: 21px;
    margin-left: 70px;
}

.custom-control{
    margin-top: 10px;
    margin-bottom: 5px;
}

.custom-control-input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}
.row .row-radio{
    border-color: #0070AD;
    //margin-top: 20px;
    
}
.mb-3{
    margin-top: 10px;
    border-color: #0070AD;
    //padding: 10px;
    border-radius: 5px;
}