.container{
    clear: both;
}
.qst , .rsp{
    border: 1px solid #0070AD;
    border-radius: 5px;
}
.imgicon{
    margin-right: 8px;
    max-width: 30px;
    filter: invert(1);
}
.minh{
    min-height: 200px;
}