<div class="container0 h-100">
    <img class="float-start" src="../../../assets/images/logo_test.png" alt="logo_test">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="rounded bluecap text-white ps-3 py-3 d-flex">
                    <div class="col w-50 d-flex align-items-center">
                        <img class="imgicon" src="../../../../assets/images/question.png" alt="logo_test">
                        <span>QUESTION 1/6 - java</span>
                    </div>
                    <div class="col w-50 d-flex align-items-center">
                        <img class="imgicon" src="../../../../assets/images/watch.png" alt="logo_test">
                        <span>Temps ècoulè : 00:57/05:00</span>
                    </div>
                </div>
                <div class="qst ps-3 py-3 minh">
                    <p>Quelle est la syntaxe correcte 
                        pour afficher "Hello World" 
                        en Java ?</p>
                </div>
            </div>
            <div class="col">
                <div class="bluecap text-white rounded ps-3 py-3 d-flex align-items-center">
                    <img class="imgicon" src="../../../../assets/images/reponse.png" alt="logo_test">
                    <span>REPONSE </span>
                </div>
                <div class="rsp ps-3 py-3 minh">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
                        <label class="form-check-label" for="flexCheck1">
                            System.out.println(“Hello world”);
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            print(“Hello world”);
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
                        <label class="form-check-label" for="flexCheck3">
                            echo(“Hello world”);
                        </label>
                      </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col rounded ps-3 ">
                <div class="qst p-2">
                    <img class="imgicon" src="../../../../assets/images/remarque.png" alt="logo_test">
                    <span>REMARQUE </span>
                </div>    
            </div>
            <div class="col rounded pe-3">
                <div>
                    <button class="bluecap float-end text-white rounded p-2">Soumettre la reponse</button>
                </div>
            </div>
        </div>
    </div>
</div>