
    <div class="bar-up">
        <h1>CONSULTATIONS PTLS</h1>
    </div>

    <div class="sous-bar">
        <div class="btn-inpt">
            <div class="btn">
                <button id="btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </div>

            <div class="inpt">
                <input id="inpt" type="search" >
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
              <tr id="tr-up">
                <th id="tr-up-a" scope="col">Titre</th>
                <th id="tr-up-a" scope="col">Durée</th>
                <th id="tr-up-a" scope="col">Description</th>
                <th id="tr-up-a" scope="col">Grade</th>
                <th id="tr-up-a" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Java</td>
                <td>30min</td>
                <td>ce test</td>
                <td>A1</td>
                <td style="text-align: center;"><i class="fa fa-bars"></i></td>
              </tr>
              <br>
              <tr>
                <td>Java</td>
                <td>30min</td>
                <td>ce test</td>
                <td>A1</td>
                <td style="text-align: center;"><i class="fa fa-bars"></i></td>
              </tr>
              <br>
              <tr>
                <td>Java</td>
                <td>30min</td>
                <td>ce test</td>
                <td>A1</td>
                <td style="text-align: center;"><i class="fa fa-bars"></i></td>
              </tr>
              
             
            </tbody>
          </table>
    </div>


