<div class="container0 h-100">
    <img class="float-start" src="../../../assets/images/logo.png" alt="logo">
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <h1 class="text-white">Bonjour, vous avez été invité(e) à passer un test.</h1>
            </div>
            <div class="col">
                <img class="float-end home_img" src="../../../assets/images/home_img.PNG" alt="home_img">
            </div>
        </div>

        <div class="row">
            <div class="col px-4">
                <div class=" bg-w p-4">
                    <h2 class="text-white text-center mb-5">Preparer vos equipement </h2>
                    <p>Vous devrez effectuer cette évaluation sans l’aide d’une tierce personne.
                        Merci de preparer votre équipement avant de commancer le test</p>
                    <img class="position-absolute" src="../../../assets/images/play.png" alt="">
                </div>
            </div>
            <div class="col px-4">
                <div class=" bg-w p-4">
                    <h2 class="text-white text-center mb-5">Tutoriel</h2>
                    <p>Voici un tutoriel qui permet decouvrir votre envirenoment d’evaluation . 
                        Le resultatt de ce tutoriel ne fait pas partie de l’evaluation .</p>
                    <img class="position-absolute" routerLink="/tuto" src="../../../assets/images/play.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>