
<div class="container">



    <div class="col-md-12">
        <button class="btn btn-primary" (click)="openDialogAdd()"><span>
            <i class="fa fa-plus"></i>
        </span> Nouvelle Question</button>
        
        <br><br><br>
        <span id="span-search"><input id="input-search" type="search"></span>
    </div>


    <div class="col-md-12">
        <div class="tab">
            <table class="table table-bordered">
            
                <tbody>
                <tr>
                    <td >Quelle est la syntaxe correcte pour afficher "Hello World" en Java ?</td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td >Quelle est la syntaxe correcte pour afficher "Hello World" en Java ?</td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td >Quelle est la syntaxe correcte pour afficher "Hello World" en Java ?</td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                
                
                
                </tbody>
            </table>
        </div>

    </div>
</div>



