<!-- <div id="vbar">

    <p id="text">Technologies</p> 
    <img class="images" id="img" src="../../../../assets/images/Illustration_1.jpg" width="100px" height="111px"> 
</div> -->
<div class="container col-md-12" >
    
    <!-- <div class="sous-bar">
    <div class="row" >
        <div class="col-sm" >
            <a href="/" class="btn btn-outline-primary btn-block text-center">
                <span><i class="fa fa-columns" aria-hidden="true" style="position: relative; top:20px"></i></span>
                Template
                <p>126</p>
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="/" class="btn btn-outline-primary btn-block text-center">
                <span><i class="fa fa-television" aria-hidden="true" style="position: relative; top:20px"></i></span>
                Technologies
                <p>12</p>
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="/" class="btn btn-outline-primary btn-block text-center">
            <span><i class="fa fa-question" aria-hidden="true" style="position: relative; top:20px"></i></span>
            Question
            <p>300</p>
            </a>
        </div>
    </div>

    </div> -->
    <br><br>
    <div class="add-searsh">
        
        <div class="input-group rounded" id="input-add">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </span>
          </div>
          <div class="input-group rounded" >
              <input type="text" class="form-control" placeholder="nouvelle technologie" >
              <span class="input-group-text border-0" id="search-addon">
              <i class="fa fa-search"></i>
            </span>

          </div>

    </div>

    <div class="row">
        
        <div class="col">
            <div class="card card1">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <br>
                <img src="../../../../assets/images/java.png" width="80px" height="80px">
            </div>
            <div class="card card1">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <br>
                <img src="../../../../assets/images/cSharp.png" width="80px" height="80px">
            </div>
            <div class="card card1">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <br>
                <img src="../../../../assets/images/c.png" width="80px" height="80px">
            </div>
            <div class="card card1">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <br>
                <img src="../../../../assets/images/js.png" width="80px" height="80px">
            </div>
            <div class="card card1">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <br>
                <img src="../../../../assets/images/css.png" width="80px" height="80px">
            </div>
            <div class="card card1">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <br>
                <img src="../../../../assets/images/html.png" width="80px" height="80px">
            </div>
            <div class="card card1">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <br>
                <img src="../../../../assets/images/php.png" width="80px" height="80px">
            </div>
            

        </div>

    </div>
</div>
